<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ActGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ActGen.Properties.Settings>
            <setting name="amount_to_generate" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="chars_to_make" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="use_numbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="include_dashes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="characters_between_dashes" serializeAs="String">
                <value />
            </setting>
            <setting name="use_both_case" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="avoid_characters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="remove_additional_custom_characters" serializeAs="String">
                <value />
            </setting>
            <setting name="include_additional_custom_characters" serializeAs="String">
                <value />
            </setting>
            <setting name="save_on_exit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rngcrypto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="use_upper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="use_lower" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="use_no_letters" serializeAs="String">
                <value>False</value>
            </setting>
        </ActGen.Properties.Settings>
    </userSettings>
</configuration>